<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Please join us</h1>
    <p>
      Sign up to the site, just follow this link: <%= link_to 'Please Join Us!', @link %>.
    </p>
  </body>
</html>